<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Vegur</title>
  </head>


  <body>

    <header>
      <div class="vegur-top-wrapper">
        <div class="vegur-container">



          <div class="vegur-header">
            <ul>
              <li class="vegur-menu-list">
                <a href="vegur.html">HOME</a>
              </li>
              <li class="vegur-menu-list">
                <a href="/news">NEWS</a>
              </li>
              <li class="vegur-menu-list">
                <a href="/photos">PHOTOS</a>
              </li>
              <li class="vegur-menu-list">
                <a href="/contact">CONTACT</a>
              </li>
              <li class="vegur-menu-list">
                <a href="/about">ABOUT</a>
              </li>
            </ul>
            <!-- <div class="header-right">
              <a href="#" class="languages">Languages</a>
            </div> -->
          </div>


          <div class="vegur-studyabroad-articles">
            <h1>Study abroad</h1>
          </div>


          <div class="vegur-studyabroad-articles-header-text">
            <h1>WE JUST WANT TO KNOW<br>
              HOW BEAUTIFUL THE WORLD IS.</h1>
          </div>


        </div>
      </div>
    </header>



    <div class="article-content">

      <h1 class="article-content-header">
留学エージェントを利用するメリットとデメリットを徹底分析！
      </h1>


      <h2 class="article-content-content">
【メリット　１．初期費用】<br>
まずはじめにあげられるポイントは、初期費用が安く抑えられる点です。
<br>
【メリット　２．学校選択の幅】<br>
<br>
【メリット　３．】<br>
<br>
【デメリット　１．ビザ申請】<br>
デメリットとして1番大きい面は、ビザ申請
<br>
【デメリット　２．】<br>
<br>
【デメリット　３．】<br>
<br>
      </h2>

    </div>



    <!-- <div>

      <textarea> Readers' Comments </textarea>

    </div> -->

    <div>
      <a href="">
        <img>
        <h1>♡留学体験談大募集♡</h1>
        <h2>Vegurでは留学経験談をシェアしてくださる方を探しています！</h2>
      </a>
    </div>



    <div class="recommends">
      <ul class="recommends-list">


        <li class="recommend">
          <a ref="">
            <img class="recommend-img">
            <h1 class="recommend-h1"></h1>
            <h2 class="recommend-h2"></h2>
          </a>
        </li>

        <li class="recommend">
          <a ref="">
            <img class="recommend-img">
            <h1 class="recommend-h1"></h1>
            <h2 class="recommend-h2"></h2>
          </a>
        </li>

        <li class="recommend">
          <a ref="">
            <img class="recommend-img">
            <h1 class="recommend-h1"></h1>
            <h2 class="recommend-h2"></h2>
          </a>
        </li>



      </ul>
    </div>















  </body>
</html>
