<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Vegur</title>
  </head>


  <body>

    <header>
      <div class="vegur-top-wrapper">
        <div class="vegur-container">



          <div class="vegur-header">
            <ul>
              <li class="vegur-menu-list">
                <a href="vegur.html">HOME</a>
              </li>
              <li class="vegur-menu-list">
                <a href="/news">NEWS</a>
              </li>
              <li class="vegur-menu-list">
                <a href="/photos">PHOTOS</a>
              </li>
              <li class="vegur-menu-list">
                <a href="/contact">CONTACT</a>
              </li>
              <li class="vegur-menu-list">
                <a href="/about">ABOUT</a>
              </li>
            </ul>
            <!-- <div class="header-right">
              <a href="#" class="languages">Languages</a>
            </div> -->
          </div>


          <div class="vegur-studyabroad-articles">
            <h1>Study abroad</h1>
          </div>


          <div class="vegur-studyabroad-articles-header-text">
            <h1>WE JUST WANT TO KNOW<br>
              HOW BEAUTIFUL THE WORLD IS.</h1>
          </div>


        </div>
      </div>
    </header>



    <div class="article-content">

      <h1 class="article-content-header">
令和時代の海外留学のカタチ『海外進学】『ビジネス留学』『ファッション留学』まで⁉
      </h1>

      <h2 class="article-content-content">
最近は「英語が出来る」「留学経験がある」だけでは就活面接に100％有利になるわけではない
という時代になってきました。英語が出来て当たり前。1年足らずの海外経験はそれほど珍しく
ない。そんな厳しい時代です。<br>
<br>
ですが、留学が無駄というわけでは一切ありません。むしろ日本という島国だけで一生を終える
よりも、海外を経験してますます日本の良さがわかったり、日本よりも「住みたい」と思う国
に出会えるかもしれません。そんなに大きな変化はなかったとしても、仕事や私生活などにおい
て、今後の人生に必ず生きてきます。<br>
<br>
そこで今回は、令和時代の『新しい留学のカタチ』を紹介します。<br>
<br>
【海外進学】<br>
いまとなってはそれほど珍しいとは言えなくなってきた『海外進学』。<br>
海外進学とは、日本の中学(高校)を卒業後、日本の学校に進学することなく海外の高校(大学)
にそのまま進学する留学のカタチです。大学からだけでなく、中学校や高校から単身海外に渡り
正規留学をする人も増えている。それが令和時代です。<br>
英語圏であるイギリスやアメリカだけでなく、中国や韓国、ヨーロッパなど全世界の沢山の国々
が自国に海外からの留学生を積極的に迎えています。
海外の大体の大学では、直接進学したとしても『留学生』として扱われ、留学生ひとりひとり
に対して担当のアドバイザーを紹介してくれます。授業の選び方がわからない時、他の学校に
転入/編入したくなった時など、留学生の様々な悩みに対し、ベストな答えを一緒に考えてくれ
ます。<br>
卒業するのに必要な単位数や必須科目は現地の大学生と変わりません。日本の学校でも「国語」
の授業が必須であるのと同様に、英語圏の学校でも「英語」の授業が必須科目に指定されている
場合がほとんどです。ただ。日本人でも国語の授業が難しいように、母国語が英語でも簡単でな
いのが英語の授業です。それを英語を母国語としないわたしたち日本人が受けるのですから、
相当な学習が必要とされます。<br>
ちなみに、海外の大学はかなり厳しいです。留学生は特に、単位を落とし過ぎるとI-20が失効
されて自国に強制送還になります。わたしもアメリカの大学在学中、何人も授業についていけず
帰国を免れられなくなったクラスメイトを見てきました。ちょっと頑張っても授業についていけ
ない人もいる。簡単には卒業させてくれないのが海外の大学の難しい点です。<br>
<br>
【ビジネス留学】<br>
わたしの通っていた大学に、『ビジネス留学』として、日本の大学を1年休学し、10ヶ月程度の
プログラムで留学に来ている大学生も沢山いました。ビジネス留学は、ほとんどの場合が日本の
留学エージェントを通して参加する制度を取っているところが多いでようです。<br>
一例として、午前中は語学学校で英語の勉強をし、午後から提携先の企業や小会社でインターン
をするというプログラムがあります。こういったプログラムのメリットは、英語が苦手な人でも
語学学校で英語を学びながら、日本人がいる会社(もしくはすぐに助けてくれる日本語のわかる
人がいる)でインターンが出来る点です。デメリットをあげるとすると、インターン先の選択肢
が少ない点でしょうか。<br>
他には、大学で1-3学期間程ビジネス関係の授業を履修後、残りの期間を全てインターンにあてる
プログラムもありました。こちらなら、英語がもともと出来る人がわざわざ語学学校に時間を
費やさなくても良いですし、インターン先も自分次第で有名企業でビジネスを学ぶ事が出来る
可能性もあります。実際にわたしの知り合いでも、マイクロソフトやアマゾンでインターンを
している方もいました。自主的に向上心を持って行動できる人にぴったりなプログラムだと感じ
ました。<br>
<br>
【ファッション留学】<br>
海外で最先端のファッションが学べるなんて、お洒落が好きな人には夢のようなキラキラした
世界なのかと思われますが、しかし意外と大変なのが現実のようです。<br>
<br>
【美容学校】<br>
海外で美容師になりたい！という夢がある人は、その国でますは美容学校に通うという方法も
あります。美容系の留学では、一般的な留学で与えられるF1ビザではなく、M1ビザの取得が必要
になります。どちらも大使館での申請と面接が必要になります。詳しい取得方法は大使館のHPに
記載されているのでチェックしてみてください。<br>
わたしの友人が通っていた美容学校は、出席日数と成績で卒業が延びたり早まったりする学校
でした。ゆっくりと時間をかけて学びたい方も、奨学金を借りているから早く卒業したいという
方も、ある程度の規則や制限はあっても、自分のペースで学べるようです。しかし「留学生」と
いう扱いには変わりがありませんのでご注意ください。<br>
M1ビザに関しても、学校を卒業した後にインターンやCPT/OPTを取得する事が出来ます。取得の
手続きに関しては、卒業前に始めておかないといけない場合と、卒業後でしか申請が出来ない
場合があるようなので、各学校の先生やアドバイザーさんに聞いてみるといいでしょう。<br>
<br>
【音楽留学】<br>
日本の学校ではなく、海外の有名な学校に入り、音楽家の道へ進む人もいます。ジャンルによ
っては、日本では学べない部分を海外で学ぶ事が出来るかもしれません。<br>
<br>
【スポーツ留学】<br>
バレエ、バスケットボール、野球など、様々なスポーツで海外の学校で活躍し、プロの道に進む
人も沢山います。日本のチームや学校でチャンスが巡ってこなくても、場所を変えるだけで、
途端にチャンスが廻ってくる場合もあります。「絶対に自分の国で頑張る」というのはもしかし
たらもう古い考えなのかもしれません。日本で「向いていないかも」と思わせれたとしても、海
外には「あなたが必要なんです」と言ってくれるチームがあるかもしれません。<br>
<br>
様々な『海外留学のカタチ』をご紹介しましたが、いかがでしょうか。日本でしか出来ない事も
あれば、日本では出来ない事も沢山あります。みなさまの夢への第1歩を応援しています♡


      </h2>

    </div>



    <!-- <div>

      <textarea> Readers' Comments </textarea>

    </div> -->


    <div>
      <a href="">
        <img>
        <h1>♡留学体験談大募集♡</h1>
        <h2>Vegurでは留学経験談をシェアしてくださる方を探しています！</h2>
      </a>
    </div>



    <div class="recommends">
      <ul class="recommends-list">


        <li class="recommend">
          <a ref="">
            <img class="recommend-img">
            <h1 class="recommend-h1"></h1>
            <h2 class="recommend-h2"></h2>
          </a>
        </li>

        <li class="recommend">
          <a ref="">
            <img class="recommend-img">
            <h1 class="recommend-h1"></h1>
            <h2 class="recommend-h2"></h2>
          </a>
        </li>

        <li class="recommend">
          <a ref="">
            <img class="recommend-img">
            <h1 class="recommend-h1"></h1>
            <h2 class="recommend-h2"></h2>
          </a>
        </li>



      </ul>
    </div>















  </body>
</html>
