<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Vegur</title>
  </head>


  <body class="vegurabout-background">

    <header>
      <div class="vegurabout-wrapper">
        <div class="vegurabout-container">
          <div class="vegurabout-header">
            <ul>
              <li class="vegurabout-menu-list">
                <a href="/">HOME</a>
              </li>
              <li class="vegurabout-menu-list">
                <a href="/news">NEWS</a>
              </li>
              <li class="vegurabout-menu-list">
                <a href="/photos">PHOTOS</a>
              </li>
              <li class="vegurabout-menu-list">
                <a href="/contact">CONTACT</a>
              </li>
              <li class="vegurabout-menu-list">
                <a href="/about">ABOUT</a>
              </li>
            </ul>
          </div>

          <div class="vegurabout">
            <h1>Vegurとは…？♡</h1>
          </div>

          <div class="vegurabout-header-text">
            <h1>Vegurはアイスランド語で「道」という意味。</h1>
            <h2>世界の誰かが素敵な何かに出会うための道への第1歩になれれば幸せです。</h2>
          </div>


        </div>
      </div>
    </header>
  </body>
</html>
