<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Vegur</title>
  </head>


  <body class="vegurcontact-background">

    <header>
      <div class="vegurcontact-top-wrapper">
        <div class="vegurcontact-container">
          <div class="vegurcontact-header">
            <ul>
              <li class="vegurcontact-menu-list">
                <a href="/">HOME</a>
              </li>
              <li class="vegurcontact-menu-list">
                <a href="/news">NEWS</a>
              </li>
              <li class="vegurcontact-menu-list">
                <a href="/photos">PHOTOS</a>
              </li>
              <li class="vegurcontact-menu-list">
                <a href="/contact">CONTACT</a>
              </li>
              <li class="vegurcontact-menu-list">
                <a href="/about">ABOUT</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>



    <div class="contacts">
      <div>
        <ul class="contact-lists">
          <li class="contact-list">
            <a href="">
              <img src="/photos.page/london.2.image.jpg">
              <h1 class="contact-h1">Instagramも随時更新中♡！</h1>
            </a>
          </li>
          <li class="contact-list">
            <a href="">
              <img src="vegur-home.jpg">
              <h1 class="contact-h1">TikTok開設準備中♡</h1>
            </a>
          </li>
          <li class="contact-list">
            <a href="">
              <img src="/pc18.jpg">
              <h1 class="contact-h1">ご依頼はこちらから♡</h1>
            </a>
          </li>
          <li class="contact-list">
            <a href="">
              <img src="/memo.image.jpg">
              <h1 class="contact-h1">Webコーディング依頼も承っております♡</h1>
            </a>
          </li>
        </ul>
      </div>


      <!-- <div id="C">
        <ul>
          <h1>aaa</h1>

          <li>
            <a href="">
              <img class="">
              <h2>aaaa</h2>
            </a>
          </li>

          <li>
            <a href="">
              <img class="">
              <h2>aaaaaa</h2>
            </a>
          </li>

          <li>
            <a href="">
              <img class="">
              <h2>aaaaaa</h2>
            </a>
          </li>


        </ul>
      </div> -->





    </div>




  </body>
</html>
