<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Vegur</title>
  </head>


  <body class="vegurcontact-background">

    <header>
      <div class="vegurcontact-top-wrapper">
        <div class="vegurcontact-container">
          <div class="vegurcontact-header">
            <ul>
              <li class="vegurcontact-menu-list">
                <a href="/">HOME</a>
              </li>
              <li class="vegurcontact-menu-list">
                <a href="/news">NEWS</a>
              </li>
              <li class="vegurcontact-menu-list">
                <a href="/photos">PHOTOS</a>
              </li>
              <li class="vegurcontact-menu-list">
                <a href="/contact">CONTACT</a>
              </li>
              <li class="vegurcontact-menu-list">
                <a href="/about">ABOUT</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>


<!-- ログイン -->
    <div class="">
      <h1 class="">LOG IN</h1>
      <p class="">User name: <br>
        <input type="text" name="name">
      </p>
      <p class="">Password: <br>
        <input type="password" name="password">
      </p>
      <p class="">
        <input type="button" value="LOG IN" id="button2">
      </p>
    </div>

<!-- サインイン -->
    <!-- <div class="">
      <h1 class="">SIGN IN</h1>
      <p class="">User name: <br>
        <input type="text" name="name">
      </p>
      <p class="">Password: <br>
        <input type="password" name="password">
      </p>
      <p class="">
        <input type="button" value="SIGN IN" id="button3">
      </p>
      <p class="">
        注意事項<br>
        ・誕生日や名前などわかりやすいものは避けてください
      </p>
    </div> -->










  </body>
</html>
