<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Vegur</title>
  </head>


  <body>

    <header>
      <div class="vegurnews-top-wrapper">
        <div class="vegurnews-container">



          <div class="vegurnews-header">
            <ul>
              <li class="vegurnews-menu-list">
                <a href="/">HOME</a>
              </li>
              <li class="vegurnews-menu-list">
                <a href="/news">NEWS</a>
              </li>
              <li class="vegurnews-menu-list">
                <a href="/photos">PHOTOS</a>
              </li>
              <li class="vegurnews-menu-list">
                <a href="/contact">CONTACT</a>
              </li>
              <li class="vegurnews-menu-list">
                <a href="/about">ABOUT</a>
              </li>
            </ul>
            <!-- <div class="header-right">
              <a href="#" class="languages">Languages</a>
            </div> -->
          </div>


        </div>
      </div>
    </header>



    <div class="newstop">
      <div class="news-heading">
        <h1 class="newstop-h1">Information</h1>
      </div>

      <div class="lists">
        <ul class="news-lists">
          <li class="news-list">
            <div class="news-page-icon">
              <a href="">
                <h1 class="news-h1">♡Instagramも随時更新中♡</h1>
                <div class="news-img000">
                  <img src="/mamaron.jpg">
                </div>
              </a>
              <h2 class="news-h2">素敵な投稿にVegurアカウントをタグ付けするとVegur内で掲載をお願いすることも♡</h2>
            </div>
          </li>

          <li class="news-list">
            <div class="news-page-icon">
              <a href="">
                <h1 class="news-h1">♡ライター募集♡</h1>
                <div class="news-img000">
                  <img src="/column.image.jpg">
                </div>
              </a>
              <h2 class="news-h2">Vegurのサイト内記事を書いてくれるライターさんも大募集してます♡</h2>
            </div>
          </li>

          <li class="news-list">
            <div class="news-page-icon">
              <a href="">
                <h1 class="news-h1">♡HP作成も承っております♡</h1>
                <div class="news-img000">
                  <img src="/pc.webp">
                </div>
              </a>
              <h2 class="news-h2">HTML/CSS/JavaScript/Rails/Rubyを使ったホームページ作成のお仕事も承っております♡</h2>
            </div>
          </li>

          <!-- <li class="news-">
            <div class="news-page-icon">
              <a href="">
                <h1 class="news-h1"></h1>
                <img class="news-img">
              </a>
            </div>
            <h2 class="news-h2"></h2>
          </li> -->

          <!-- <li class="news-">
            <div class="news-page-icon">
              <a href="">
                <h1 class="news-h1"></h1>
                <img class="news-img">
              </a>
            </div>
            <h2 class="news-h2"></h2>
          </li> -->

          <!-- <li class="news-">
            <div class="news-page-icon">
              <a href="">
                <h1 class="news-h1"></h1>
                <img class="news-img">
              </a>
            </div>
            <h2 class="news-h2"></h2>
          </li> -->

          <!-- <li class="news-">
            <div class="news-page-icon">
              <a href="">
                <h1 class="news-h1"></h1>
                <img class="news-img">
              </a>
            </div>
            <h2 class="news-h2"></h2>
          </li> -->






        </ul>
      </div>

    </div>













  </body>
</html>
