<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Vegur</title>
  </head>


  <body>

    <header>
      <div class="vegurphotos-top-wrapper">
        <div class="vegurphotos-container">
          <div class="vegurphotos-header">
            <ul>
              <li class="vegurphotos-menu-list">
                <a href="/">HOME</a>
              </li>
              <li class="vegurphotos-menu-list">
                <a href="/news">NEWS</a>
              </li>
              <li class="vegurphotos-menu-list">
                <a href="/photos">PHOTOS</a>
              </li>
              <li class="vegurphotos-menu-list">
                <a href="/contact">CONTACT</a>
              </li>
              <li class="vegurphotos-menu-list">
                <a href="/about">ABOUT</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>



    <div class="photos-heading">
      <h1>♡ PHOTOS ♡</h1>
    </div>

    <div>
      <ul class="photos">


        <li class="photo">
          <a href="">
            <img src="/photos.page/diamondhead.2.image.jpg">
            <!-- University of Washington Suzzallo Library -->
          </a>
        </li>

        <li class="photo">
          <a href="">
            <img src="/photos.page/gifu.hidatakayama.1.image.jpg">
            <!-- Osaka ZOC burger -->
          </a>
        </li>

        <li class="photo">
          <a href="">
            <img src="/photos.page/hirakatapark.1.image.jpg">
            <!-- Taiwan ICE monster -->
          </a>
        </li>

        <li class="photo">
          <a href="">
            <img src="/photos.page/diamondhead.1.image.jpg">
            <!-- Seattle Carl Anderson Park -->
          </a>
        </li>

        <li class="photo">
          <a href="">
            <img src="/photos.page/hanaumabay.1.image.jpg">
            <!-- the picture from the skyline -->
          </a>
        </li>

        <li class="photo">
          <a href="">
            <img src="/photos.page/hawaii.hitachitree.1.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a href="">
            <img src="/photos.page/hawaii.waikiki.umi.1.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a href="">
            <img src="/photos.page/hawaii.xmas.1.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/hirakatapark.2.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/hirakatapark.3.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/july4th.fireworks.1.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/kyoto.arashiyama.1.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/kyoto.bistroblock.1.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/kyoto.cotociel.1.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/kyoto.cotociel.2.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/kyoto.cotociel.3.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/kyoto.idecho.1.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/leavenworth.1.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/leavenworth.2.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/leavenworth.3.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/leavenworth.4.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/london.1.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/london.2.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/mamarontokyo.1.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/matcharepublic.1.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/matcharepublic.2.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/miyakojima.umi.1.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/miyakojima.umi.2.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/miyakojima.umi.3.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/miyakojima.umi.4.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/miyakojima.umi.sakana.1.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/miyakojima.yakkayakka.1.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/miyakojima.yakkayakka.2.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/miyakojima.yakkayakka.3.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/niigata.materialcafe.1.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/osaka.zocburger.1.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/sanfrancisco.1.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/scc.collegelife.1.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/scc.collegelife.2.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/scc.collegelife.3.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/seattle.spaceneedle.1.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/seattle.wallarts.1.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/seattlepikeplacemarket.1.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/shigarakieki.1.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/shigarakieki.2.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/suzzallolibrary.1.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/suzzallolibrary.2.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/taipei.cafe.1.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/taipei.nightmarket.1.image.jpg">
          </a>
        </li>

        <li class="photo">
          <a hreaf="">
            <img src="/photos.page/vancouver.1.image.jpg">
          </a>
        </li>

        <!-- <li class="photo">
          <a hreaf="">
            <img src="/photos.page/vancouver.2.image.jpg">
          </a>
        </li> -->

        <!-- <li>
          <a hreaf="">
            <img src="/photos.page/">
          </a>
        </li> -->

        <!-- <li>
          <a hreaf="">
            <img src="/photos.page/">
          </a>
        </li> -->

        <!-- <li>
          <a hreaf="">
            <img src="/photos.page/">
          </a>
        </li> -->

        <!-- <li>
          <a hreaf="">
            <img src="/photos.page/">
          </a>
        </li> -->




      </ul>
    </div>















  </body>
</html>
