<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Vegur</title>
  </head>


  <body>

    <header>
      <div class="vegurtop-wrapper">
        <div class="vegurtop-container">



          <div class="vegurtop-header">
            <ul>
              <li class="vegurtop-menu-list">
                <a href="/">HOME</a>
              </li>
              <li class="vegurtop-menu-list">
                <a href="/news">NEWS</a>
              </li>
              <li class="vegurtop-menu-list">
                <a href="/photos">PHOTOS</a>
              </li>
              <li class="vegurtop-menu-list">
                <a href="/contact">CONTACT</a>
              </li>
              <li class="vegurtop-menu-list">
                <a href="/about">ABOUT</a>
              </li>
              <li>
                <a href="/login">LOGIN</a>
              </li>
            </ul>
            <!-- <div class="header-right">
              <a href="#" class="languages">Languages</a>
            </div> -->
          </div>


          <div class="vegurtop">
            <h1>Vegur</h1>
          </div>


          <div class="vegurtop-header-text">
            <h1>WE JUST WANT TO KNOW<br>
              HOW BEAUTIFUL THE WORLD IS.</h1>
          </div>


        </div>
      </div>
    </header>



    <div class="vegurtop-background">


      <div class="vegurtop-page-text">
        <h2>あなたの「行ってみたい」をお手伝いします♡</h2>
      </div>

      <div class="vegurtop-page-wrapper">
        <ul class="vegurtop-flex-lists">

          <li class="vegurtop-home-list">
            <div class="vegurtop-page-icon">
              <a href="/pages/studyabroad">
                <img src="/studyabroad.image.jpg">
                <p>海外進学/留学</p>
              </a>
            </div>
            <p class="vegurtop-txt-contents">短期留学/長期留学/正規留学といった「期間別」と「地域別」のジャンルに分けて記事をご用意◎<br>
              あなたにぴったりの留学スタイルを見つけてください♡</p>
          </li>

          <li class="vegurtop-home-list">
            <div class="vegurtop-page-icon">
              <a href="/pages/traveljapan">
                <img src="/traveljapan.image.jpg">
                <p>日本国内旅行</p>
              </a>
            </div>
            <p class="vegurtop-txt-contents">日本人なら知っておきたい日本国内の素敵な場所をピックアップ♡<br>
            各都道府県や目的別に分けて記事をご紹介します！</p>
          </li>

          <li class="vegurtop-home-list">
            <div class="vegurtop-page-icon">
              <a href="/pages/travelabroad">
                <img src="/travelabroad.image.jpg">
                <p>海外旅行</p>
              </a>
            </div>
            <p class="vegurtop-txt-contents">読んでいる間に「海外旅行に行きたくて仕方がなくなってきた！」と、思わず飛行機のチケットをすぐに予約してしまうくらいワクワクする記事をご用意しています♡</p>
          </li>

          <li class="vegurtop-home-list">
            <div class="vegurtop-page-icon">
              <a href="/pages/studylanguages">
                <img src="/studylanguages.image.jpg">
                <p>英語学習</p>
              </a>
            </div>
            <p class="vegurtop-txt-contents">ライターがおすすめする英語(外国語)学習方法をこっそり伝授◎<br>
              夢にまで見たペラペラまでぐっと近づくかも…？♡</p>
          </li>

          <li class="vegurtop-home-list">
            <div class="vegurtop-page-icon">
              <a href="/pages/columns">
                <img src="/column.image.jpg">
                <p>コラム</p>
              </a>
            </div>
            <p class="vegurtop-txt-contents">旅の間や日常で感じたちいさな出来事をコラムにして発信しています。みんながもっと優しい気持ちで過ごせる毎日のために…♡</p>
          </li>
        </ul>
      </div>


    </div>




  </body>

  <footer>
  </footer>

</html>
