<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Vegur</title>
  </head>


  <body>

    <header>
      <div class="vegur-top-wrapper">
        <div class="vegur-container">



          <div class="vegur-header">
            <ul>
              <li class="vegur-menu-list">
                <a href="vegur.html">HOME</a>
              </li>
              <li class="vegur-menu-list">
                <a href="/news">NEWS</a>
              </li>
              <li class="vegur-menu-list">
                <a href="/photos">PHOTOS</a>
              </li>
              <li class="vegur-menu-list">
                <a href="/contact">CONTACT</a>
              </li>
              <li class="vegur-menu-list">
                <a href="/about">ABOUT</a>
              </li>
            </ul>
            <!-- <div class="header-right">
              <a href="#" class="languages">Languages</a>
            </div> -->
          </div>


          <div class="vegur-columns">
            <h1>Columns</h1>
          </div>


          <div class="vegur-columns-header-text">
            <h1>WE JUST WANT TO KNOW<br>
              HOW BEAUTIFUL THE WORLD IS.</h1>
          </div>


        </div>
      </div>
    </header>


    <div class="columns-columns">
      <!-- <h1 class="new-articles">最新記事</h1> -->
      <ul>


        <li class="columns-column">
          <a href="">
            <img class="columns-img">
            <h1 class="columns-h1">
              宮古島でのちょっと怖い体験談
            </h1>
            <h2 class="columns-h2">
              ……本文ちょこっと出し……
            </h2>
          </a>
        </li>

        <li class="columns-column">
          <a href="">
            <img class="columns-img">
            <h1 class="columns-h1">
              関西のとある百貨店案内所での光景
            </h1>
            <h2 class="columns-h2">
              ……本文ちょこっと出し……
            </h2>
          </a>
        </li>

        <li class="columns-column">
          <a href="">
            <img class="columns-img">
            <h1 class="columns-h1">
              タイトル
            </h1>
            <h2 class="columns-h2">
              ……本文ちょこっと出し……
            </h2>
          </a>
        </li>

        <li class="columns-column">
          <a href="">
            <img class="columns-img">
            <h1 class="columns-h1">
              タイトル
            </h1>
            <h2 class="columns-h2">
              ……本文ちょこっと出し……
            </h2>
          </a>
        </li>

        <li class="columns-column">
          <a href="">
            <img class="columns-img">
            <h1 class="columns-h1">
              タイトル
            </h1>
            <h2 class="columns-h2">
              ……本文ちょこっと出し……
            </h2>
          </a>
        </li>

        <li class="columns-column">
          <a href="">
            <img class="columns-img">
            <h1 class="columns-h1">
              タイトル
            </h1>
            <h2 class="columns-h2">
              ……本文ちょこっと出し……
            </h2>
          </a>
        </li>



      </ul>
    </div>














  </body>
</html>
