<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Vegur</title>
  </head>


  <body>

    <header>
      <div class="vegur-top-wrapper">
        <div class="vegur-container">



          <div class="vegur-header">
            <ul>
              <li class="vegur-menu-list">
                <a href="vegur.html">HOME</a>
              </li>
              <li class="vegur-menu-list">
                <a href="/news">NEWS</a>
              </li>
              <li class="vegur-menu-list">
                <a href="/photos">PHOTOS</a>
              </li>
              <li class="vegur-menu-list">
                <a href="/contact">CONTACT</a>
              </li>
              <li class="vegur-menu-list">
                <a href="/about">ABOUT</a>
              </li>
            </ul>
            <!-- <div class="header-right">
              <a href="#" class="languages">Languages</a>
            </div> -->
          </div>


          <div class="vegur-studyabroad">
            <h1>Study Abroad</h1>
          </div>


          <div class="vegur-studyabroad-header-text">
            <h1>WE JUST WANT TO KNOW<br>
              HOW BEAUTIFUL THE WORLD IS.</h1>
          </div>


        </div>
      </div>
    </header>



    <div class="studyabroad-articles">
      <ul>


        <li class="studyabroad-article">
          <a href="">
            <img class="studyabroad-article-img">
            <h1 class="studyabroad-h1">
              長期留学/正規留学
            </h1>
            <h2 class="studyabroad-h2">
              アメリカのワシントン州シアトルに正規留学した経験をもとに記事を書いています♡
            </h2>
          </a>
        </li>

        <li class="studyabroad-article">
          <a href="">
            <img class="studyabroad-article-img">
            <h1 class="studyabroad-h1">
              短期留学
            </h1>
            <h2 class="studyabroad-h2">
              イギリスのレディング(ロンドン郊外)に短期留学をした中で役に立ったこと等をシェアします♡
            </h2>
          </a>
        </li>

        <li class="studyabroad-article">
          <a href="">
            <img class="studyabroad-article-img">
            <h1 class="studyabroad-h1">
              中期留学(半年～1年)
            </h1>
            <h2 class="studyabroad-h2">
              日本の大学を休学して1年間留学に行く人向けの記事です♡
            </h2>
          </a>
        </li>

        <li class="studyabroad-article">
          <a href="">
            <img class="studyabroad-article-img">
            <h1 class="studyabroad-h1">
              ビジネス留学
            </h1>
            <h2 class="studyabroad-h2">
              留学中にインターンやボランティア活動等をしたい人向けの記事です♡
            </h2>
          </a>
        </li>

        <li class="studyabroad-article">
          <a href="">
            <img class="studyabroad-article-img">
            <h1 class="studyabroad-h1">
              語学留学
            </h1>
            <h2 class="studyabroad-h2">
              英語や中国語など語学学校に関する記事をまとめています♡
            </h2>
          </a>
        </li>

        <li class="studyabroad-article">
          <a href="">
            <img class="studyabroad-article-img">
            <h1 class="studyabroad-h1">
              芸術留学/美容留学
            </h1>
            <h2 class="studyabroad-h2">
              準備中♡
              <!-- バレエやバイオリン、美容師など専門分野での留学について経験者にインタビューをしてみました♡ -->
            </h2>
          </a>
        </li>



      </ul>
    </div>

















  </body>
</html>
