<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Vegur</title>
  </head>


  <body>

    <header>
      <div class="vegur-top-wrapper">
        <div class="vegur-container">



          <div class="vegur-header">
            <ul>
              <li class="vegur-menu-list">
                <a href="vegur.html">HOME</a>
              </li>
              <li class="vegur-menu-list">
                <a href="/news">NEWS</a>
              </li>
              <li class="vegur-menu-list">
                <a href="/photos">PHOTOS</a>
              </li>
              <li class="vegur-menu-list">
                <a href="/contact">CONTACT</a>
              </li>
              <li class="vegur-menu-list">
                <a href="/about">ABOUT</a>
              </li>
            </ul>
            <!-- <div class="header-right">
              <a href="#" class="languages">Languages</a>
            </div> -->
          </div>


          <div class="vegur-traveljapan">
            <h1>Travel Japan</h1>
          </div>


          <div class="vegur-traveljapan-header-text">
            <h1>WE JUST WANT TO KNOW<br>
              HOW BEAUTIFUL THE WORLD IS.</h1>
          </div>


        </div>
      </div>
    </header>


    <div class="traveljapan-articles">
      <!-- <h1 class="new-articles">最新記事</h1> -->
      <ul>


        <li class="traveljapan-article">
          <a href="">
            <img class="traveljapan-img">
            <h1 class="traveljapan-h1"></h1>
            <h2 class="traveljapan-h2"></h2>
          </a>
        </li>

        <li class="traveljapan-article">
          <a href="">
            <img class="traveljapan-img">
            <h1 class="traveljapan-h1"></h1>
            <h2 class="traveljapan-h2"></h2>
          </a>
        </li>

        <li class="traveljapan-article">
          <a href="">
            <img class="traveljapan-img">
            <h1 class="traveljapan-h1"></h1>
            <h2 class="traveljapan-h2"></h2>
          </a>
        </li>

        <li class="traveljapan-article">
          <a href="">
            <img class="traveljapan-img">
            <h1 class="traveljapan-h1"></h1>
            <h2 class="traveljapan-h2"></h2>
          </a>
        </li>

        <li class="traveljapan-article">
          <a href="">
            <img class="traveljapan-img">
            <h1 class="traveljapan-h1"></h1>
            <h2 class="traveljapan-h2"></h2>
          </a>
        </li>

        <li class="traveljapan-article">
          <a href="">
            <img class="traveljapan-img">
            <h1 class="traveljapan-h1"></h1>
            <h2 class="traveljapan-h2"></h2>
          </a>
        </li>



      </ul>
    </div>














  </body>
</html>
