<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Vegur</title>
  </head>


  <body>

    <header>
      <div class="vegur-top-wrapper">
        <div class="vegur-container">



          <div class="vegur-header">
            <ul>
              <li class="vegur-menu-list">
                <a href="vegur.html">HOME</a>
              </li>
              <li class="vegur-menu-list">
                <a href="/news">NEWS</a>
              </li>
              <li class="vegur-menu-list">
                <a href="/photos">PHOTOS</a>
              </li>
              <li class="vegur-menu-list">
                <a href="/contact">CONTACT</a>
              </li>
              <li class="vegur-menu-list">
                <a href="/about">ABOUT</a>
              </li>
            </ul>
            <!-- <div class="header-right">
              <a href="#" class="languages">Languages</a>
            </div> -->
          </div>


          <div class="vegur-travelabroad-articles">
            <h1>Travel abroad</h1>
          </div>


          <div class="vegur-travelabroad-articles-header-text">
            <h1>WE JUST WANT TO KNOW<br>
              HOW BEAUTIFUL THE WORLD IS.</h1>
          </div>


        </div>
      </div>
    </header>



    <div class="article-content">

      <h1 class="article-content-header">
英語で本を読んでみよう！初心者におすすめの英語小説５選
      </h1>

      <h2 class="article-content-content">
韓国語にちょっと慣れてきたけど本を読む切るのはまだ自信がない・・・という人におすすめな
のは、まず日本語版で読んでみてから韓国語版を読む、という方法です！
知らないボキャブラリーを毎回毎回調べているとかなり時間がかかりますし、途中でいやになって
しまう人が多いと思います。なのでまず日本語で読んでみてから韓国語で読んでみると、話の
内容がわかるので1周目はさらっと読む事が出来ます。わからなかった単語や表現に印をつけて
おいてあとから調べたり、2周目を読み返してみたりすると、外国語で本を読むという事に抵抗
がなくなります。
【１．】<br>
<br>
【２．】<br>
<br>
【３．】<br>
<br>
【４．】<br>
<br>
【５．】<br>
<br>
      </h2>

    </div>



    <!-- <div>

      <textarea> Readers' Comments </textarea>

    </div> -->



    <div class="recommends">
      <ul class="recommends-list">


        <li class="recommend">
          <a ref="">
            <img class="recommend-img">
            <h1 class="recommend-h1"></h1>
            <h2 class="recommend-h2"></h2>
          </a>
        </li>

        <li class="recommend">
          <a ref="">
            <img class="recommend-img">
            <h1 class="recommend-h1"></h1>
            <h2 class="recommend-h2"></h2>
          </a>
        </li>

        <li class="recommend">
          <a ref="">
            <img class="recommend-img">
            <h1 class="recommend-h1"></h1>
            <h2 class="recommend-h2"></h2>
          </a>
        </li>



      </ul>
    </div>















  </body>
</html>
