<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Vegur</title>
  </head>


  <body>

    <header>
      <div class="vegur-top-wrapper">
        <div class="vegur-container">



          <div class="vegur-header">
            <ul>
              <li class="vegur-menu-list">
                <a href="vegur.html">HOME</a>
              </li>
              <li class="vegur-menu-list">
                <a href="/news">NEWS</a>
              </li>
              <li class="vegur-menu-list">
                <a href="/photos">PHOTOS</a>
              </li>
              <li class="vegur-menu-list">
                <a href="/contact">CONTACT</a>
              </li>
              <li class="vegur-menu-list">
                <a href="/about">ABOUT</a>
              </li>
            </ul>
            <!-- <div class="header-right">
              <a href="#" class="languages">Languages</a>
            </div> -->
          </div>


          <div class="vegur-travelabroad-articles">
            <h1>Travel abroad</h1>
          </div>


          <div class="vegur-travelabroad-articles-header-text">
            <h1>WE JUST WANT TO KNOW<br>
              HOW BEAUTIFUL THE WORLD IS.</h1>
          </div>


        </div>
      </div>
    </header>



    <div class="article-content">

      <h1 class="article-content-header">
新大久保でなんちゃって韓国旅！
      </h1>

      <h2 class="article-content-content">
【食べ歩き】<br>
<br>
【K-POPアイドルストア】<br>
<br>
【ランチ】<br>
<br>
【化粧品】<br>
<br>
【カフェ】<br>
<br>
      </h2>

    </div>



    <!-- <div>

      <textarea> Readers' Comments </textarea>

    </div> -->



    <div class="recommends">
      <ul class="recommends-list">


        <li class="recommend">
          <a ref="">
            <img class="recommend-img">
            <h1 class="recommend-h1"></h1>
            <h2 class="recommend-h2"></h2>
          </a>
        </li>

        <li class="recommend">
          <a ref="">
            <img class="recommend-img">
            <h1 class="recommend-h1"></h1>
            <h2 class="recommend-h2"></h2>
          </a>
        </li>

        <li class="recommend">
          <a ref="">
            <img class="recommend-img">
            <h1 class="recommend-h1"></h1>
            <h2 class="recommend-h2"></h2>
          </a>
        </li>



      </ul>
    </div>















  </body>
</html>
