<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Vegur</title>
  </head>


  <body>

    <header>
      <div class="vegur-top-wrapper">
        <div class="vegur-container">



          <div class="vegur-header">
            <ul>
              <li class="vegur-menu-list">
                <a href="vegur.html">HOME</a>
              </li>
              <li class="vegur-menu-list">
                <a href="/news">NEWS</a>
              </li>
              <li class="vegur-menu-list">
                <a href="/photos">PHOTOS</a>
              </li>
              <li class="vegur-menu-list">
                <a href="/contact">CONTACT</a>
              </li>
              <li class="vegur-menu-list">
                <a href="/about">ABOUT</a>
              </li>
            </ul>
            <!-- <div class="header-right">
              <a href="#" class="languages">Languages</a>
            </div> -->
          </div>


          <div class="vegur-travelabroad-articles">
            <h1>Travel abroad</h1>
          </div>


          <div class="vegur-travelabroad-articles-header-text">
            <h1>WE JUST WANT TO KNOW<br>
              HOW BEAUTIFUL THE WORLD IS.</h1>
          </div>


        </div>
      </div>
    </header>



    <div class="article-content">

      <h1 class="article-content-header">
台湾のタピオカ屋さんといえば絶対これ！【50嵐】に行ってみよう！
      </h1>

      <h2 class="article-content-content">
日本でも度々ブームになるタピオカですが台湾発祥のドリンクだった事はご存知ですか？その発祥地である台湾で1番メジャーと言われるタピオカ店をご紹介します♡ <br>
<br>
【50嵐】
<img class="50ran-img">
50嵐では台北市内だけでも数十店舗を構える大型タピオカチェーン店です。<br>
種類
値段はMサイズで25～50台湾元、Lサイズで30～70台湾元です。日本円にすると約　円！サイズも日本と比べるとかなり大きいのでMサイズもかなりお腹はいっぱいになります(笑)<br>
<br>
甘さや氷の量などを自分でカスタムしなくてはいけませんが、台湾にはかなり日本人観光客も多いため、メニューには中国語/英語/日本語が記載されている店舗がほとんどです。<br>
若い店員さんなら日本語が話せる人も少なくはありません。たとえ全く話せなかったとしても、指差しメニューが置かれているので安心です◎<br>
<br>
台湾には数ブロックに1店舗あるくらいタピオカ屋さんやタピオカを扱っているカフェなカフェなどが沢山ありますが、50嵐の人気ぶりは店舗数を見れば漠然です。<br>
<img class="50ran-map-img">
個人的にも、台湾で「タピオカ飲みたいな～」と思ったら近くに他の店舗があったとしてもちょっと先の50嵐に向かうくらい50嵐のタピオカはとっても美味しいです。<br>
<br>
是非みなさまも台湾に行った際には50嵐のタピオカ飲んでみてくださいね♡
p.s. わたしはハマりすぎた頃、1日に3杯飲み、店員さんにちょっと引かれた事があるくらい50嵐のタピオカファンです♡(笑)


      </h2>

    </div>


    <!-- <div>

      <textarea> Readers' Comments </textarea>

    </div> -->



    <div class="recommends">
      <ul class="recommends-list">


        <li class="recommend">
          <a ref="">
            <img class="recommend-img">
            <h1 class="recommend-h1"></h1>
            <h2 class="recommend-h2"></h2>
          </a>
        </li>

        <li class="recommend">
          <a ref="">
            <img class="recommend-img">
            <h1 class="recommend-h1"></h1>
            <h2 class="recommend-h2"></h2>
          </a>
        </li>

        <li class="recommend">
          <a ref="">
            <img class="recommend-img">
            <h1 class="recommend-h1"></h1>
            <h2 class="recommend-h2"></h2>
          </a>
        </li>



      </ul>
    </div>















  </body>
</html>
